[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
After=network.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/etcd/etcd.conf
Type=notify
User=etcd
ExecStart=/usr/bin/etcd
Restart=on-failure
RestartSec=10s

LimitNOFILE=65536
MemoryLow=200M
Nice=-10
IOSchedulingClass=best-effort
IOSchedulingPriority=2

[Install]
WantedBy=multi-user.target
